{% load static %}
{% load custom_filter %}
{% not_approved_offers as offer_for_check %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>MyMotoMadness</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/moto_logo.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        {% if request.user.is_authenticated %}
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-user text-primary me-2"></small>
                    <small>{{ request.user.username }} welcome to the Madness!</small>
                </div>
                {% if request.user.is_staff %}
                    {% if offer_for_check %}
                        <div class="h-100 d-inline-flex align-items-center py-3">
                            <small class="fa fa-exclamation-triangle  text-primary me-2"></small>
                            <small>There is new offers for approval! </small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-3 me-2">
                            <small>
                                <button class="rounded-pill">
                                    <a href="{% url 'sales for approval view' %}">Go To Offers</a>
                                </button>
                            </small>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {% if request.user.is_superuser %}
                <div class="col-lg-5 px-5 text-end">
                    <div class="h-100 d-inline-flex align-items-center">
                        <small class="fa fa-cog  text-primary me-2"></small>
                        <button class="rounded-pill">
                            <a href="{% url 'admin:index' %}">Admin Panel</a>
                        </button>
                    </div>
                </div>
                </div>
            {% endif %}
        {% endif %}
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'home-page' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class='fas fa-motorcycle fa-lg'></i>MyMotoMadness</h2>
    </a>
     {% for message in messages %}
         <small class="fa fa-exclamation-triangle  text-primary me-2"></small>
         {% if message.tags == 'success' %}
          <h6>{{ message }}</h6>
         {% endif %}
    {% endfor %}
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'home-page' %}" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   onclick="window.location.href='{% url  'common sale view' %}'"
                >Sale
                    Offers</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="{% url 'list motorcycle view' %}" class="dropdown-item">Motorcycles</a>
                    <a href="{% url 'list equipment gear view' %}" class="dropdown-item">EquipmentGear</a>
                    <a href="{% url 'list bike parts view' %}" class="dropdown-item">Parts</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   onclick="window.location.href='{% url  'common articles views' %}'">Articles</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="{% url 'list news view' %}" class="dropdown-item">News</a>
                    <a href="{% url 'list advices view' %}" class="dropdown-item">Advices</a>
                </div>
            </div>
            {% if not request.user.username %}
                <a href="{% url 'login user view' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Login<i
                        class="fa fa-arrow-left ms-3"></i></a>
                </div>
                <a href="{% url 'register user view' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Register<i
                        class="fa fa-arrow-left ms-3"></i></a>
            {% else %}
                <div class="nav-item dropdown">
                    <a href="{% url 'details user view' pk=request.user.pk %}" class="nav-link dropdown-toggle active"
                       data-bs-toggle="dropdown"
                       onclick="window.location.href='{% url 'details user view' request.user.pk %}'">My Profile</a>

                    <div class="dropdown-menu fade-up m-0">
                        <a href="{% url 'edit user view' pk=request.user.pk %}" class="dropdown-item">Edit</a>
                        <a href="{% url 'delete user view' pk=request.user.pk %}" class="dropdown-item">Delete</a>
                    </div>
                </div>
                <a href="{% url 'logout user view' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"><i
                        class="fa fa-arrow-right ms-3"></i> Logout<i
                        class="fa fa-arrow-left ms-3"></i></a>
            {% endif %}
    </div>
</nav>
<!-- Navbar End -->
<body>
{% block page_content %}

{% endblock %}
</body>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Contacts:</h4>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0889 XX XX XX</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>yanko.rashkov@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://github.com/qceka88"><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-outline-light btn-social"
                       href="https://www.linkedin.com/in/yanko-rashkov-9a8980aa/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Sale Offers</h4>
                <a class="btn btn-link" href="{% url 'list motorcycle view' %}">Motorcycles</a>
                <a class="btn btn-link" href="{% url 'list equipment gear view' %}">Equipment Gear</a>
                <a class="btn btn-link" href="{% url 'list bike parts view' %}">Motorcycle Parts</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Articles</h4>
                <a class="btn btn-link" href="{% url 'list news view' %}">News</a>
                <a class="btn btn-link" href="{% url 'list advices view' %}">Advices</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="{% url 'home-page' %}">MyMotoMadness</a>, All Right Reserved.

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>