{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>PART DETAILS</h1>
    <p>Type of part {{ object.type_of_part }} </p>
    <p>Brand{{ object.brand }} </p>
    <p>Model {{ object.model }} </p>

    <p>Created On: {{ object.manufacture_year }} </p>

    <p>For Bike: {{ object.for_bike }} </p>

    <p>Is approved: {{ object.approved }} </p>

    <ul>
        {% for picture in part_pictures %}
            <li>
                <img style="width: 150px" src="{{ picture.image.url }}" alt="{{ object.brand }}">
            </li>
        {% endfor %}

    </ul>
     <p><a href="{% url 'details user view' pk=object.owner_id %}"> Owner: {{ object.owner.username }} </a></p>
    <h1>City: {{ object.city }}</h1>
    <h1>Contact: {{ object.owner.phone_number }}</h1>
    <h1>Price :{{ object.price|floatformat:2 }}</h1>

    <button><a href="{% url 'edit bike parts view' pk=object.pk %}">Part Edit</a></button>


    <button><a href="{% url 'delete bike parts view' pk=object.pk %}">Part Delete</a></button>


    <button><a href="{% url 'list bike parts view' %}">Part LIST</a></button>

    <button>
        <a href="{% url 'home-page' %}">HOME</a>
    </button>

{% endblock %}