{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>PARTS LIST</h1>
    <ul>
        {% for part_object in object_list %}
            <li>
                {{ part_object }} OWNER = {{ part_object.owner }}
                <button><a href="{% url 'detail bike parts view' pk=part_object.pk %}">DET</a></button>
                {% if part_object.owner == request.user %}
                <button><a href="{% url 'edit bike parts view' pk=part_object.pk %}">Edit</a></button>
                <button><a href="{% url 'delete bike parts view' pk=part_object.pk %}">Delete</a></button>
            {% endif %}
            </li>
        {% endfor %}

    </ul>
    <button>
        <a href="{% url 'add bike parts view' %}"> ADD</a>
    </button>
    <button>
        <a href="{% url 'home-page' %}">HOME PAGE</a>
    </button>


{% endblock %}