<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Type of equipment {{ object.gear_type }} </p>
<p>Brand{{ object.brand }} </p>
<p>Model {{ object.model }} </p>

<p>Created On: {{ object.manufacture_year }} </p>
<p>Owner: {{ object.owner }} </p>
<p>Material: {{ object.material_type}} </p>

<p>Type: {{ object.approved}} </p>

<ul>
    {% for picture in equipment_pictures %}
        <li>
         <img  style="width: 150px" src="{{ picture.image.url }}" alt="{{ object.brand }}">
        </li>
    {% endfor %}

</ul>


<button><a href="{% url 'edit equipment gear view' pk=object.pk %}">Edit</a></button>


<button><a href="{% url 'delete equipment gear view' pk=object.pk %}">Delete</a></button>


<button><a href="{% url 'list equipment gear view' %}">LIST</a></button>

<button>
    <a href="{% url 'home-page' %}">HOME</a>
</button>

</body>
</html>
</html>