<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p> Title{{ object.title }} </p>
<p>Subtitle {{ object.sub_title }} </p>
<p>Description {{ object.description }} </p>
<p>Created On: {{ object.published }} </p>
<p>Author: {{ object.author }} </p>
<p>Type: {{ object.article_type }} </p>

<button><a href="{% url 'edit article view' pk=object.pk %}">Edit</a></button>


<button><a href="{% url 'delete article view' pk=object.pk %}">Delete</a></button>


<button><a href="{% url 'common articles views' %}">LIST</a></button>


</body>
</html>
</html>