<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p> Brand{{ object.brand }} </p>
<p>Model {{ object.model }} </p>
<p>Volume {{ object.engine_volume }} </p>
<p>Created On: {{ object.manufacture_year }} </p>
<p>Owner: {{ object.owner }} </p>
<p>Type: {{ object.bike_type}} </p>

<p>Type: {{ object.approved}} </p>

<img src="{{ object.bike_image.url }}" alt="{{ object.brand }}">

<button><a href="{% url 'edit motorcycle view' pk=object.pk %}">Edit</a></button>


<button><a href="{% url 'delete motorcycle view' pk=object.pk %}">Delete</a></button>


<button><a href="{% url 'list motorcycle view' %}">LIST</a></button>


</body>
</html>
</html>