<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for bike in object_list %}
        <li>
            {{ bike }} <button><a href="{% url 'detail motorcycle view' pk=bike.pk %}">DET</a></button>
             <button><a href="{% url 'edit motorcycle view' pk=bike.pk %}">Edit</a></button>
             <button><a href="{% url 'delete motorcycle view' pk=bike.pk %}">Delete</a></button>
        </li>
    {% endfor %}

</ul>
<button>
    <a href="{% url 'add motorcycle view' %}"> ADD</a>
</button>


</body>
</html>