{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>EQUIPMENT DETAILS</h1>
    <p>Type of equipment: {{ object.gear_type }} </p>
    <p>Brand: {{ object.brand }} </p>
    <p>Model: {{ object.model }} </p>

    <p>Created On: {{ object.manufacture_year }} </p>

    <p>For Bike: {{ object.material_type }} </p>

    <p>Approved: {{ object.approved }} </p>

    <ul>
        {% for picture in equipment_pictures %}
            <li>
                <img style="width: 150px" src="{{ picture.image.url }}" alt="{{ object.brand }}">
            </li>
        {% endfor %}

    </ul>
    <p><a href="{% url 'details user view' pk=object.owner_id %}"> Owner: {{ object.owner.username }} </a></p>
    <h1>Contact: {{ object.owner.phone_number }}</h1>
    <h1>Price :{{ object.price|floatformat:2 }}</h1>

    <button><a href="{% url 'edit equipment gear view' pk=object.pk %}">Equipment Edit</a></button>


    <button><a href="{% url 'delete equipment gear view' pk=object.pk %}">Equipment Delete</a></button>


    <button><a href="{% url 'list equipment gear view' %}">Equipment LIST</a></button>

    <button>
        <a href="{% url 'home-page' %}">HOME</a>
    </button>

{% endblock %}