{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>LIST EQUIPMENT GEAR</h1>
    <ul>
        {% for equipment_object in object_list %}
            <li>
                {{ equipment_object }} OWNER = {{ equipment_object.owner }}
                <button><a href="{% url 'detail equipment gear view' pk=equipment_object.pk %}">DET</a></button>
                <button><a href="{% url 'edit equipment gear view' pk=equipment_object.pk %}">Edit</a></button>
                <button><a href="{% url 'delete equipment gear view' pk=equipment_object.pk %}">Delete</a></button>
            </li>
        {% endfor %}

    </ul>
    <button>
        <a href="{% url 'add equipment gear view' %}"> ADD</a>
    </button>
    <button>
        <a href="{% url 'home-page' %}">HOME PAGE</a>
    </button>


{% endblock %}