{% extends 'base/base.html' %}
{% load static %}
{% load left_right_column %}
{% block page_content %}

    <div class="container-fluid page-header mb-5 p-0"
         style="background-image: url({% static 'img/carousel-4.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">ADVICES</h1>
                {% if request.user.is_staff or request.user.is_superuser %}
                    <button class="btn btn-success rounded-pill text-center" style="position: center">
                        <a href="{% url 'add article view' %}" style="color: whitesmoke">
                            CREATE ADVICES
                        </a>
                    </button>
                {% endif %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="{% url 'list news view' %}">News</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list advices view' %}">Advices</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Search Start -->
    <div class="text-center text-primary text-uppercase">
        <a href="" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">
            Search Advices</a>
        <div class="dropdown-menu fadeInUp m-0 form-control text-center">
            <form action="{% url 'list advices view' %}">
                {{ search_advices }}
                <br>
                <br>
                <button style="color: red">SEARCH</button>
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!--Common Articles  Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-4 mb-3 pb-3">
                        {% for article in object_list|left_column %}
                            <div class="col-12 wow form-control fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex">
                                    <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                         style="width: 45px; height: 45px;">
                                        <a href="{% url 'detail article view' pk=article.pk %}">
                                            <span class="fw-bold text-secondary">
                                                <img src="{{ article.article_image.url }}"
                                                     alt="{{ article.title }}"
                                                     style="width: 80px; height: 80px;"></span></a>
                                    </div>
                                    <div class="ps-4">
                                        <a href="{% url 'detail article view' pk=article.pk %}">
                                            <h3 style="color: red">{{ article.title }}</h3>
                                            <h5>{{ article.sub_title }}</h5>
                                            <span style="color: black">{{ article.description|truncatechars:100 }}</span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 mb-3 pb-3">
                        {% for article in object_list|right_column %}
                            <div class="col-12 wow fadeIn form-control " data-wow-delay="0.1s">
                                <div class="d-flex">
                                    <div class="bg-light d-flex flex-shrink-0  form-control align-items-center justify-content-center mt-1"
                                         style="width: 45px; height: 45px;">
                                        <a href="{% url 'detail article view' pk=article.pk %}">
                                            <span class="fw-bold text-secondary">
                                                <img src="{{ article.article_image.url }}"
                                                     alt="{{ article.title }}"
                                                     style="width: 80px; height: 80px;"></span></a>
                                    </div>
                                    <div class="ps-4">
                                        <a href="{% url 'detail article view' pk=article.pk %}">
                                            <h3 style="color: red">{{ article.title }}</h3>
                                            <h5>{{ article.sub_title }}</h5>
                                            <span style="color: black">{{ article.description|truncatechars:100 }}</span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center">
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
                {% else %}
                    <a>&lt;</a>
                {% endif %}

                {{ page_obj.number }} / {{ paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
                {% else %}
                    <a>&gt;</a>
                {% endif %}
            {% endif %}
        </h3>
    </div>
    <!-- Common Article End -->
    <div class=col-md-6">
        <button class="btn btn-success rounded-pill"><a
                href="javascript:history.back()" style="color: whitesmoke">GO BACK</a></button>
    </div>
{% endblock %}