<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMotoMadness</title>
</head>
<body style="display: flex;
			justify-content: center;">
<div style="display: flex;
			justify-content: center;
			border: 3px solid rgb(65, 63, 63);
			border-radius: 20px;
			margin: 2%;
			max-width: 620px;">
    <div>

        <h1 style="			text-align: center;
                color: rgb(65, 63, 63);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            <!-- Receiver username -->
            Hello, {{ user.username }} !</h1>

        <div style="display: flex;
                justify-content: center;">
            <img style="width: 100%; display: flex; position: center;" id="motorcycle-image"
                 src="https://img.freepik.com/premium-vector/black-white-motorcycle-drawing-isolated-white-background_3442-1314.jpg?w=2000"
                 alt="gif motorcycle">
        </div>

        <h1 style="max-width: 620px;
        		text-align: center;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Welcome to the Madness
        </h1>

    </div>
</div>
</body>
</html>