<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="			text-align: center;
                color: rgb(65, 63, 63);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            <!-- Receiver username -->
            Hello, {{ user.username }} !</h1>
    <h1>
     Congratulations, successfully registered in MyMotoMadness!
    </h1>
</body>
</html>