{% extends 'base/base.html' %}

{% block page_content %}
    <p>FROM: <a href="{% url 'details user view' pk=object.from_user.pk %}">{{ object.from_user }}</a></p>
    <p>TO: <a href="{% url 'details user view' pk=object.to_user.pk %}">{{ object.to_user }}</a></p>
    <p>Subject: {{ object.message_subject }}</p>
    <p>Content: {{ object.message_content }}</p>
    <p>Sent: {{ object.send_date }}</p>
    <button>
        <a href="{% url 'delete message view' slug_user=request.user.slug_user slug=object.slug %}">DELETE</a>
    </button>
    <button><a href="{% url 'my message box view' slug_user=request.user.slug_user %}"> GO BACK </a></button>
{% endblock %}s