{% extends 'base/base.html' %}
{% load left_right_column %}
{% load static %}
{% block page_content %}
    {% for msg in object_list %}
        {{ o }}
    {% endfor %}
    <!-- Page Header START -->
    <div class="container-fluid page-header mb-5 p-0"
         style="background-image: url({% static 'img/mailman.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">RECEIVED MESSAGES</h1>
                <button class="btn btn-primary rounded-pill text-center" style="position: center">
                    <a href="{% url 'sent list messages view' slug_user=request.user.slug_user %}"
                       style="color: whitesmoke">
                        SENT MESSAGES
                    </a>
                </button>
                <button class="btn btn-success rounded-pill text-center" style="position: center">
                    <a href="{% url 'create new message view' slug_user=request.user.slug_user %}"
                       style="color: whitesmoke">
                        CREATE NEW MESSAGE
                    </a>
                </button>

            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!--Received Messages   Start -->
    {% if object_list %}
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="row g-4 mb-3 pb-3">
                            {% for message_object in object_list|left_column %}
                                <div class="col-12 wow  form-control fadeIn" data-wow-delay="0.1s">
                                    <div class="d-flex">
                                        <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                             style="width: 45px; height: 45px;">
                                            <span class="fw-bold text-secondary">
                                                {% if message_object.from_user.profile_picture %}
                                                    <img src="{{ message_object.from_user.profile_picture.url }}"
                                                         alt="{{ message_object }}"
                                                         style="width: 80px; height: 80px;">
                                                {% else %}
                                                    <img src="{% static 'img/avatar.png' %}"
                                                         alt="{{ message_object }}"
                                                         style="width: 80px; height: 80px;">
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="ps-4">
                                            <a href="{% url 'detail received message view' slug_user=request.user.slug_user slug=message_object.slug %}">
                                                {% if not message_object.readed %}
                                                    <h3 style="color: red">From: {{ message_object.from_user }} <i
                                                            class="fa fa-envelope text-primary me-2"></i></h3>
                                                    <h5>
                                                        Subject: {{ message_object.message_subject }}</h5>
                                                {% else %}
                                                    <h3>From: {{ message_object.from_user }} <i
                                                            class="fa fa-envelope-open text-secondary me-2"></i></h3>
                                                    <h5>Subject: {{ message_object.message_subject }}</h5>
                                                {% endif %}
                                                <span style="color: black">Content: {{ message_object.message_content|truncatechars:100 }}</span>
                                                <p style="color: black">Received: {{ message_object.send_date }}</p></a>
                                        </div>
                                    </div>
                                    <br>
                                    <button>
                                        <a href="{% url 'detail received message view' slug_user=request.user.slug_user slug=message_object.slug %}">Read</a>
                                    </button>
                                    <button>
                                        <a href="{% url 'delete message view' slug_user=request.user.slug_user slug=message_object.slug %}">DELETE</a>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-4 mb-3 pb-3">
                            {% for message_object in object_list|right_column %}
                                <div class="col-12 wow  form-control fadeIn" data-wow-delay="0.1s">
                                    <div class="d-flex">
                                        <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                             style="width: 45px; height: 45px;">
                                            <span class="fw-bold text-secondary">
                                                {% if message_object.from_user.profile_picture %}
                                                    <img src="{{ message_object.from_user.profile_picture.url }}"
                                                         alt="{{ message_object }}"
                                                         style="width: 80px; height: 80px;">
                                                {% else %}
                                                    <img src="{% static 'img/avatar.png' %}"
                                                         alt="{{ message_object }}"
                                                         style="width: 80px; height: 80px;">
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="ps-4">
                                            <a href="{% url 'detail received message view' slug_user=request.user.slug_user slug=message_object.slug %}">
                                                {% if not message_object.readed %}
                                                    <h3 style="color: red">From: {{ message_object.from_user }} <i
                                                            class="fa fa-envelope text-primary me-2"></i></h3>
                                                    <h5>
                                                        Subject: {{ message_object.message_subject }}</h5>
                                                {% else %}
                                                    <h3>From: {{ message_object.from_user }} <i
                                                            class="fa fa-envelope-open text-secondary me-2"></i></h3>
                                                    <h5>Subject: {{ message_object.message_subject }}</h5>
                                                {% endif %}
                                                <span style="color: black">Content: {{ message_object.message_content|truncatechars:100 }}</span>
                                                <p style="color: black">Received: {{ message_object.send_date }}</p></a>
                                        </div>
                                    </div>
                                    <br>
                                    <button>
                                        <a href="{% url 'detail received message view' slug_user=request.user.slug_user slug=message_object.slug %}">Read</a>
                                    </button>
                                    <button>
                                        <a href="{% url 'delete message view' slug_user=request.user.slug_user slug=message_object.slug %}">DELETE</a>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-center">
                {% if paginator.num_pages > 1 %}
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
                    {% else %}
                        <a>&lt;</a>
                    {% endif %}

                    {{ page_obj.number }} / {{ paginator.num_pages }}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
                    {% else %}
                        <a>&gt;</a>
                    {% endif %}
                {% endif %}
            </h3>
        </div>
    {% else %}
        <h2 class="text-center">NO MESSAGES TO SHOW</h2>
    {% endif %}
    <!-- Received Messages  End -->
    <div class=col-md-6">
        <button class="btn btn-success rounded-pill"><a
                href="javascript:history.back()" style="color: whitesmoke">GO BACK</a></button>
    </div>
{% endblock %}