{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>
        ADD NEW MOTORCYCLE SALE OFFER
    </h1>

    <form action="{% url 'add motorcycle view' %}" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <label for="files">Select files:</label>
        <input type="file" id="files" name="files" multiple><br><br>
        <button>
            Submit information!
        </button>

    </form>
    <button>
        <a href="{% url 'list motorcycle view' %}">LIST Motorcycles</a>
    </button>

    <button>
        <a href="{% url 'home-page' %}">HOME</a>
    </button>

{% endblock %}