{% extends 'base/base.html' %}
{% block page_content %}
    <!-- Page Header Start -->
    {% for picture in object.motorcycleimages_set.all|slice:1 %}
        <div class="container-fluid page-header mb-5 p-0"
             style="background-image: url({{ picture.image.url }});">
    {% endfor %}
<div class="container-fluid page-header-inner py-5">
    <div class="container text-center">
        <h1 class="display-3 text-white mb-3 animated slideInDown">EDIT YOUR MOTORCYCLE</h1>

    </div>
</div>
</div>
    <!-- Page Header End -->
    <div class="container-xxl py-5 overflow-visible">
        <div class="wow fadeInUp" data-wow-delay="0.2s overflow-visible">
            <div class="container text-center overflow-visible">
                <form action="{% url 'edit motorcycle view' pk=object.pk %}" method="post"
                      enctype="multipart/form-data" class="form-control overflow-visible">
                    <div class="owl-carousel testimonial-carousel position-relative overflow-visible">
                        {% for picture in object.motorcycleimages_set.all %}
                            <div class="testimonial-item text-center">
                                <div class="team-item">
                                    <div class="position-relative ">
                                        <img class="bg-light  p-2 mx-auto mb-3"
                                             src="{{ picture.image.url }}"
                                             style="width: 200px; height: 200px;" alt="{{ object.brand }}">
                                        <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                                            <img src="{{ picture.image.url }}" alt="{{ object.brand }}">
                                        </div>
                                    </div>
                                </div>
                                <p><label>Select for delete</label></p>
                                <p><input type="checkbox" name="selected_images" value="{{ picture.id }}"></p>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Offer details Start -->
                    <div class="row g-6">
                        <div class="col-md-6">
                            <label>Brand:</label>
                            <div class="form-floating">
                                {{ form.brand }}
                                <div class="text-danger">
                                    {{ form.brand.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label>Model:</label>
                            <div class="form-floating">
                                {{ form.model }}
                                <div class="text-danger">
                                    {{ form.model.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Engine Volume:</label>
                            <div class="form-floating">
                                {{ form.engine_volume }}
                                <div class="text-danger">
                                    {{ form.engine_volume.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Horse Power:</label>
                            <div class="form-floating">
                                {{ form.horse_power }}
                                <div class="text-danger">
                                    {{ form.horse_power.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Price:</label>
                            <div class="form-floating">
                                {{ form.price }}
                                <div class="text-danger">
                                    {{ form.price.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Year of manufacture:</label>
                            <div class="form-floating">
                                {{ form.manufacture_year }}
                                <div class="text-danger">
                                    {{ form.manufacture_year.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <label>City:</label>
                            <div class="form-floating">
                                {{ form.city }}
                                <div class="text-danger">
                                    {{ form.city.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label>Select Motorcycle Type:</label>
                            <div class="form-floating">
                                {{ form.bike_type }}
                                <div class="text-danger">
                                    {{ form.bike_type.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <label>Add Images:</label>
                            <div class="form-floating">
                                {{ form.motorcycle_images }}
                                <div class="text-danger">
                                    {{ form.motorcycle_images.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label>Description:</label>
                            <div class="form-floating">
                                {{ form.description }}
                                <div class="text-danger">
                                    {{ form.description.errors|join:", " }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-3">
                            <label>NOTE: </label>
                            <p>When you edit the offer. The offer will go for approval and will be not visible for other
                                pople!</p>
                            <div class="form-floating">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label> </label>
                            <div class="form-floating">
                            </div>
                        </div>
                        <br>
                    </div>
                    <!-- Offer details End -->
                    {% csrf_token %}
                    <div class="col-12">
                        <button class="btn btn-primary w-25 py-3">EDIT offer</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="col-12">
            <button class="btn btn-success rounded-pill text-center" style="position: center">
                <a href="javascript:history.back()" style="color: whitesmoke">
                    GO BACK
                </a>
            </button>
        </div>
    </div>
{% endblock %}