{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <h1>MOTORCYCLES LIST</h1>
    <ul>
        {% for motorcycle_object in object_list %}
            <li>
                {{ motorcycle_object }} OWNER = {{ motorcycle_object.owner }}
                <button><a href="{% url 'detail motorcycle view' pk=motorcycle_object.pk %}">DET</a></button>
                {% if  request.user.is_superuser or request.user_is_staff %}
                    <button><a href="{% url 'edit motorcycle view' pk=motorcycle_object.pk %}">Edit</a></button>
                    <button><a href="{% url 'delete motorcycle view' pk=motorcycle_object.pk %}">Delete</a></button>
                {% endif %}
            </li>

        {% endfor %}

    </ul>

        <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">// Our Technicians //</h6>
                <h1 class="mb-5">Our Expert Technicians</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="img/team-1.jpg" alt="">
                            <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold mb-0">Full Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Team End -->


    <button>
        <a href="{% url 'add motorcycle view' %}"> ADD</a>
    </button>
    <button>
        <a href="{% url 'home-page' %}">HOME PAGE</a>
    </button>


{% endblock %}