{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0"
         style="background-image: url({% static 'img/endless_ride.png' %});">

        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">MOTORCYCLES</h1>
                <button class="btn btn-success rounded-pill text-center" style="position: center">
                    <a href="{% url 'add motorcycle view' %}" style="color: whitesmoke">
                        CREATE OFFER
                    </a>
                </button>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Search Start -->
    <div class="text-center text-primary text-uppercase">
        <a href="" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">
            Search Options</a>
        <div class="dropdown-menu fadeInUp m-0 form-control text-center">
            <form action="{% url 'list motorcycle view' %}">
                {{ search_motorcycles }}
                <br>
                <br>
                <button style="color: red">SEARCH</button>
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Offers Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">// MyMotoMadness //</h6>
                <h1 class="mb-5">All Motorcycles Offers</h1>
            </div>
            <div class="row g-4">
                {% for motorcycle_offer in object_list %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                {% for picture in motorcycle_offer.motorcycleimages_set.all|slice:1 %}
                                    <img class="img-fluid" src="{{ picture.image.url }}"
                                         style="width: 300px; height: 200px;" alt="{{ motorcycle_offer.brand }}">
                                {% endfor %}
                                <div class="team-overlay position-absolute start-0 top-0 w-100 h-100">
                                    <a href="{% url 'detail motorcycle view' pk=motorcycle_offer.pk %}"
                                       style="color: whitesmoke;"><small>{{ motorcycle_offer.description|truncatechars:30 }}</small></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold mb-0">{{ motorcycle_offer.brand }} {{ motorcycle_offer.model }} </h5>
                            <small>Power: {{ motorcycle_offer.horse_power }}HP.</small>
                            <small>Price: {{ motorcycle_offer.price|floatformat:2 }}lv.</small>
                            <button><a href="{% url 'detail motorcycle view' pk=motorcycle_offer.pk %}"
                                       style="color: red">See Details</a>
                            </button>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <h3 class="text-center">
            {% if paginator.num_pages > 1 %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
                {% else %}
                    <a>&lt;</a>
                {% endif %}

                {{ page_obj.number }} / {{ paginator.num_pages }}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
                {% else %}
                    <a>&gt;</a>
                {% endif %}
            {% endif %}
        </h3>
    </div>
    <!-- Offers End -->
    <div class="col-12">
        <button class="btn btn-success rounded-pill text-center" style="position: center">
            <a href="javascript:history.back()" style="color: whitesmoke">
                GO BACK
            </a>
        </button>
    </div>
{% endblock %}